<!DOCTYPE html>
<html>

<head>
  <title>SessionLogin</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%# Flashメッセージをヘッダーに表示させる %>
  <% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>

  <%# ログイン画面やユーザ登録画面へ遷移させるためのヘッダーリンクを作成 %>
  <% if logged_in? %>
  <%# ログイン済みの場合は、ログインしているユーザの詳細ページとログアウトへのリンクを表示する %>
  <%= link_to "Profile", user_path(current_user.id) %>
  <%= link_to "Logout", session_path(current_user.id), method: :delete %>
  <% else %>
  <%# 未ログインの場合は、ログインとユーザ登録へのリンクを表示させ、 %>
  <%= link_to "Sign up", new_user_path %>
  <%= link_to "Login", new_session_path %>
  <% end %>

  <%= yield %>
</body>

</html>